.container {
  width: 90%;
  margin: auto;
  padding-top: 95px;
  padding-bottom: 145px;
}

.main-section {
  display: flex;
  justify-content: center;
}

.login-showcase {
  position: relative;
  background-image: url('../img/login_bg.png');
  width: 454px;
  height: 618px;
  margin-right: -20px;
}

.login-showcase img {
  position: absolute;
  bottom: 91px;
  left: 151px;
}

.login-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  background: #fff;
  border: #ccc 1px solid;
  width: 350px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding: 30px 25px 20px 25px;
  text-align: center;
}

.login-logo {
  width: 175px;
  height: 51px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.login-id,
.login-pw,
.login-btn {
  background: #fafafa;
  border: 1px #ccc solid;
  font-size: 16px;
  padding: 9px 0 7px 8px;
  margin: 5px 10px 5px 10px;
  font-size: 16px;
  line-height: 18px;
  text-overflow: ellipsis;
  border-radius: 3px;
  font-size: 14px;
}

.login-btn {
  color: #fff;
  background-color: #0095f6;
  height: 30px;
  line-height: 14px;
  border: none;
  font-weight: 500;
}

.login-divider {
  margin-top: 10px;
  display: flex;
  margin: 10px 10px 0 10px;
}

.login-divider::before,
.login-divider::after {
  content: '';
  border-bottom: 0.05rem solid #ccc;
  flex: 1;
  margin: auto;
}

.login-divider::after {
  margin-left: 15px;
}

.login-divider::before {
  margin-right: 15px;
}

footer {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

footer ul {
  font-size: 12px;
  display: flex;
}

footer li {
  margin-right: 15px;
  font-weight: bold;
  color: #003782;
}

.login-facebook {
  margin-top: 30px;
}

.login-forget {
  margin-top: 20px;
  font-size: 12px;
}

.login-signup {
  margin-top: 10px;
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #ccc solid;
  font-size: 15px;
}

.login-signup a {
  margin-left: 5px;
  font-weight: bold;
  color: #0095f6;
}

.login-stores {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.login-store-img {
  margin-top: 20px;
  width: 136px;
}

.login-copyright {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 12px;
  font-weight: 500;
}

.login-facebook {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
}

.login-facebook-thumb {
  display: inline-block;
  height: 18px;
  position: relative;
  margin-right: 10px;
}

.login-facebook-text {
  color: #385185;
  font-weight: 600;
  font-size: 14px;
}

.slide {
  position: absolute;
}

.slide:nth-child(1) {
  -webkit-animation: fade 25s 20s infinite;
  z-index: 10;
}

.slide:nth-child(2) {
  -webkit-animation: fade 25s 15s infinite;
  z-index: 10;
}

.slide:nth-child(3) {
  -webkit-animation: fade 25s 10s infinite;
  z-index: 10;
}

.slide:nth-child(4) {
  -webkit-animation: fade 25s 5s infinite;
  z-index: 10;
}

.slide:nth-child(5) {
  -webkit-animation: fade 25s 0s infinite;
  z-index: 10;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
