nav {
  border-bottom: #ccc solid 1px;
  background: #fff;
  width: 100%;
  height: 60px;
  margin-bottom: 40px;
}

button {
  background: #fff;
}

.container {
  width: 90%;
  height: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-logo {
  height: 30px;
}

.nav-logo img {
  height: 100%;
}

.logo-img {
  padding-right: 12px;
  border-right: 2px #000 solid;
}

.logo-text {
  padding-left: 5px;
}

.links {
  display: inline-block;
  height: 25px;
  margin-right: 10px;
}

main {
  width: 85%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.feeds {
  background: #fff;
  border: #ccc 1px solid;
  width: 60%;
}

.feed-top {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  height: 40px;
  border-radius: 50%;
  padding: 3px;
}

.profile span {
  margin-left: 10px;
  font-weight: 600;
}

.feed-img {
  width: 100%;
}

.bottom-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
